<div style="clear: left; padding-top: 10px;" ng-controller="DashboardCtrl">
    <div class="metrictitle">Commitment</div>
    <div>
        <div ng-repeat="t in getTimes(commitment)">
            <div class="metricrating">
                <img src="images/red_dollar.png">
            </div>
        </div>
        <div ng-repeat="t in getTimes(max - commitment)">
            <div class="metricrating">
                <img src="images/black_dollar.png">
            </div>
        </div>
    </div>
</div>