<div style="clear: left; padding-top: 10px;" ng-controller="DashboardCtrl">
    <div class="metrictitle">Engagement</div>
    <div>
        <div ng-repeat="t in getTimes(engagement)">
            <div class="metricrating">
                <img src="images/happy_face.png">
            </div>
        </div>
        <div ng-repeat="t in getTimes(max - engagement)">
            <div class="metricrating">
                <img src="images/sad_face.png">
            </div>
        </div>
    </div>
</div>