<div style="clear: left; padding-top: 10px;" ng-controller="DashboardCtrl">
    <div class="metrictitle">Trust</div>
    <div>
        <div ng-repeat="t in getTimes(respectTrust)">
            <div class="metricrating">
                <img src="images/red_heart.png">
            </div>
        </div>
        <div ng-repeat="t in getTimes(max - respectTrust)">
            <div class="metricrating">
                <img src="images/black_heart.png">
            </div>
        </div>
    </div>
</div>