<div class="row-fluid line">
    <div class="span2 title">
        <select name="selectedIteration" ng-model="$parent.selectedIterationId" ng-change="selectIteration()">
            <option ng-repeat="iteration in iterations" value="{{iteration.id}}">{{iteration.iterationNumber}}</option>
        </select>
    </div>
    <div class="span10 content">
        <div class="row-fluid line">
            <div class="span2 title">Velocity</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.velocity"></p></div>
        </div>
        <div class="row-fluid line">
            <div class="span2 title">Cycle Time</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.cycleTime"></p></div>
        </div>
        <div class="row-fluid line">
            <div class="span2 title"># of Employees</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.numberOfFTE"></p></div>
        </div>
        <div class="row-fluid line">
            <div class="span2 title"># of Contractors</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.numberOfContractors"></p></div>
        </div>
        <div class="row-fluid line">
            <div class="span2 title"># of Onshore</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.numberOfOnshoreRes"></p></div>
        </div>
        <div class="row-fluid line">
            <div class="span2 title"># of Offshore</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.numberOfOffshoreRes"></p></div>
        </div>
        <div class="row-fluid line">
            <div class="span2 title"># of Nearshore</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.numberOfNearshoreRes"></p></div>
        </div>
        <div class="row-fluid line">
            <div class="span2 title"># of Carryovers</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.numberOfCarryOver"></p></div>
        </div>
        <div class="row-fluid line">
            <div class="span2 title"># of Blockers</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.numberOfBlockers"></p></div>
        </div>
    </div>
</div>
<div class="row-fluid heading">
    <div class="span2"></div>
    <div class="span10">
        <h4>Happiness</h4>
    </div>
</div>

<div class="row-fluid line">
    <div class="span2 title">
    </div>
    <div class="span10 content">
        <div class="row-fluid line">
            <div class="span2 title">Commitment</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.commitment"></p></div>
        </div>
        <div class="row-fluid line">
            <div class="span2 title">Engagement</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.engagement"></p></div>
        </div>
        <div class="row-fluid line">
            <div class="span2 title">Value</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.perceivedValue"></p></div>
        </div>
        <div class="row-fluid line">
            <div class="span2 title">Respect/Trust</div>
            <div class="span8 content"><p><input type="text" ng-model="projectIterationDetails.respectTrust"></p></div>
        </div>
    </div>
</div>

<div style="float: right"><input type="button" class="red_button" value="apply" ng-click="applyIterationChanges();" ></div>
