.metricrating
{
    float: left;
    vertical-align: bottom;
}

.metrictitle
{
    float: left;
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 140px;
    color: #274b6d;
}