html{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#header h1 {
    text-transform: uppercase;
}

.heading {
    margin-top: 0.618rem;
}

.heading h4 {
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
    font-weight: 300;
    padding-bottom: 0.381em;
}

.heading h4 a {
    color: inherit;
    opacity: 0.3;
    transition: opacity 0.3s ease 0s;
}

.heading h4 a:hover {
    opacity: 0.6;
    text-decoration: none;
}

.line .title {
    font-weight: 300;
    text-align: right;
}

.line img {
    margin: 0;
    max-height: 10rem;
    max-width: 100%;
}

h1
{
    font-size: 15pt;
    color: #d40203;;
}

.menu_div ul
{
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#FFF;
    list-style:none;
    text-indent:15px;
}
.menu_div ul li
{
    background:#3f3f3f;
    line-height:28px;
    border-bottom:2px solid #ccc;
}
.menu_div ul li a
{
    text-decoration:none;
    color:#FFF;
    display:block;
}
.menu_div ul li a:hover
{
    background:#d40203;
}
.menu_div ul li#active
{
    background:#d40203;
}

.contents
{
    float: left;
    margin-left: 25px;
    width: 70%;
}

.red_button {
    border-top: 1px solid #f797ca;
    background: #d6656e;
    background: -webkit-gradient(linear, left top, left bottom, from(#eb0726), to(#d6656e));
    background: -webkit-linear-gradient(top, #eb0726, #d6656e);
    background: -moz-linear-gradient(top, #eb0726, #d6656e);
    background: -ms-linear-gradient(top, #eb0726, #d6656e);
    background: -o-linear-gradient(top, #eb0726, #d6656e);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 5px;
}
.red_button:hover {
    border-top-color: #3f3f3f;
    background: #3f3f3f;
    color: #ccc;
}
.red_button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.line_item {
    margin: 5px;
}