html{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#header h1 {
    text-transform: uppercase;
}

.heading {
    margin-top: 0.618rem;
}

.heading h4 {
    border-bottom: thin solid #D40203;
    font-weight: 300;
    padding-bottom: 0.381em;
}

.heading h4 a {
    color: inherit;
    opacity: 0.3;
    transition: opacity 0.3s ease 0s;
}

.heading h4 a:hover {
    opacity: 0.6;
    text-decoration: none;
}

.line .title {
    font-weight: 300;
    text-align: right;
}

.line img {
    margin: 0;
    max-height: 10rem;
    max-width: 100%;
}

h1
{
    font-size: 15pt;
    color: #d40203;;
}

.menu_div ul
{
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#FFF;
    list-style:none;
    text-indent:15px;
}
.menu_div ul li
{
    background:#838383;
    line-height:28px;
    border-bottom:2px solid #ccc;
    padding-right: 5px;
}
.menu_div ul li a
{
    text-decoration:none;
    color:#FFF;
    display:block;
}
.menu_div ul li a:hover
{
    background:#d40203;
}
.menu_div ul li#active
{
    background:#d40203;
}

.menu_div ul li:hover
{
    background:#d40203;
    cursor: pointer;
    cursor: hand;
}

.width_twenty
{
    width: 20%;
}

.width_thirty
{
    width: 30%;
}

.width_forty
{
    width: 40%;
}

.width_seventy
{
    width: 70%;
}

.width_thirty_five
{
    width: 35%;
}

.width_fifty_five
{
    width: 55%;
}

.width_five
{
    width: 5%;
}

.width_sixty_eight
{
    width: 68%;
}

.width_ninety_five
{
    width: 95%;
}

.contents
{
    float: left;
    margin-left: 25px;
    width: 70%;
}

.success_display
{
    vertical-align: middle;
    text-align: center;
    background-color: #E6F2FF;
    border-bottom: 1px solid #242F5A;
    border-right: 1px solid #242F5A;
    border-left: 1px solid #242F5A;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 400px;
    height: 30px;
    position: fixed;
    left: 35%;
    color: #274b6d;
}

.error_display
{
    vertical-align: middle;
    text-align: center;
    background-color: #FFD4CD;
    border-bottom: 1px solid #FF2135;
    border-right: 1px solid #FF2135;
    border-left: 1px solid #FF2135;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 400px;
    height: 30px;
    position: fixed;
    left: 35%;
    color: #274b6d;
}

.red_button {
    border-top: 1px solid #f797ca;
    background: #d6656e;
    background: -webkit-gradient(linear, left top, left bottom, from(#eb0726), to(#d6656e));
    background: -webkit-linear-gradient(top, #eb0726, #d6656e);
    background: -moz-linear-gradient(top, #eb0726, #d6656e);
    background: -ms-linear-gradient(top, #eb0726, #d6656e);
    background: -o-linear-gradient(top, #eb0726, #d6656e);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 5px;
}
.red_button:hover {
    border-top-color: #3f3f3f;
    background: #3f3f3f;
    color: #ccc;
}
.red_button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.line_item {
    margin: 5px;
}

.ui-datepicker
{
    background-color: #e4e4e4;
    border-radius: 5px;
    border: 1px solid #8c8c8c;
    padding: 3px;
}

.ui-datepicker-title
{
    margin-left: 5px;
}

.ui-datepicker-calendar thead tr th
{
    height: 19px;
    width: 25px;
}

.ui-datepicker-calendar tbody tr td
{
    height: 19px;
    width: 25px;
    padding-right: 7px;
    text-align: right;
}

input[readonly], select[readonly], textarea[readonly] {
    background-color: #ffffff;
    cursor: hand;
    cursor: pointer;
}

.ui-icon
{
    margin-left: 5px;
}