<div ng-controller="ProjectListCtrl">
    <div class="menu_div" style="float:left">
        <h1>Project</h1>
        <ul>
            <li ng-repeat="project in projects">
                <a href="" ng-click="$parent.greet(project.id)">{{project.projectName}}</a>
            </li>
        </ul>
    </div>
    <div class="contents">
        <h1>Detail's</h1>
        <div>
            <div style="float: right"><input type="button" class="red_button" value="edit" ng-click="edit();" ng-hide="editMode"></div>
            <div style="float: right"><input type="button" class="red_button" value="cancel" ng-click="edit();" ng-show="editMode"></div>
            <div ng-hide="editMode">
                <div ng-include src="'partials/project_view.html'"></div>
            </div>
            <div ng-show="editMode">
                <div ng-include src="'partials/project_edit.html'"></div>
            </div>
        </div>
    </div>
</div>
