<div class="menu_div">
    <ul>
        <div class="row-fluid line">
            <a href="">
                <div class="width_twenty" style="float: left">Iteration Number</div>
                <div class="width_twenty" style="float: left">Start Date</div>
                <div class="width_twenty" style="float: left">End Date</div>
                <div class="width_forty" style="float: right">Description</div>
            </a>
        </div>
        <li ng-repeat="iteration in iterations">
            <div class="row-fluid line">
                <div class="width_ninety_five" style="float: left" ng-click="$parent.select(iteration.id);">
                    <div class="width_twenty" style="float: left">{{iteration.iterationNumber}}</div>
                    <div class="width_twenty" style="float: left">{{iteration.startDate}}</div>
                    <div class="width_twenty" style="float: left">{{iteration.endDate}}</div>
                    <div class="width_thirty_five" style="float: right">{{iteration.description}}</div>
                </div>
                <div class="width_five" style="float: right"><img src="/images/red_trash.png" ng-click="$parent.delete(iteration.id);"></div>
            </div>
        </li>
    </ul>
</div>
