<div class="menu_div">
    <ul>
        <div class="row-fluid line">
            <a href="">
                <div style="float: left">Iteration Number</div>
                <div style="float: left">Start Date</div>
                <div style="float: left">End Date</div>
                <div style="float: right">Description</div>
            </a>
        </div>
        <li ng-repeat="iteration in iterations" ng-click="$parent.select(iteration.id)">
            <div class="row-fluid line">
                <a href="">
                    <div style="float: left">{{iteration.iterationNumber}}</div>
                    <div style="float: left">{{iteration.startDate}}</div>
                    <div style="float: left">{{iteration.endDate}}</div>
                    <div style="float: right">{{iteration.description}}</div>
                </a>
            </div>
        </li>
    </ul>
</div>
